<% if @resultado_alertas.present? %>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('views.niv_alert_index.results') %></h5>
      <div class="ibox-tools">
        <% if @crearXls == 8 %>
          <button class="btn btn-primary btn-xs xls_g" type="button">
            <i class="fa fa-floppy-o"></i> XLS
          </button>
        <% end %>
        <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#graph_results">
          <i class="fa fa-bar-chart"></i> <%= t('views.niv_alert_index.graph') %>
        </button>
        <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
        <input type="hidden" id="busqueda" name="busqueda_params" value="<%= @xls_query %>">
        <input type="hidden" id="filtro_generador" name="filtro_params" value="<%= @xls_filtro_generador %>">

        <br>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-7"></div>
        <div class="col-sm-5 text-right">
          <div style="margin-bottom: 2em;">
            <div class="detall_left" id="cont">
              <%= page_entries_info @resultado_alertas, entry_name: t('views.niv_alert_index.alerts') %>
            </div>
            <div class="pag_right" id="paginator">
              <%= paginate @resultado_alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <table class="table table-bordered table-condensed table-striped" id="tablafi1" tabindex="5005">
          <thead>
          <tr>
            <th width="15"></th>
            <th>Ticket</th>
            <th><%= t('views.alertc_index.date') %></th>
            <th><%= t('views.alertc_index.origin') %></th>
            <th><%= t('views.alertc_index.account') %></th>
            <th><%= t('views.alertc_index.message') %></th>
            <th><%= t('views.alertc_index.state') %></th>
            <th><%= t('views.alertc_index.analyst') %></th>
          </tr>
          </thead>
          <% if @resultado_alertas.present? %>
            <tbody id="alertas">
            <% render @resultado_alertas %>
            <% @resultado_alertas.each do |al| %>
              <tr class="show_more">
                <td class="show"><i class="fa fa-plus-square" aria-hidden="true"></i></td>
                <td class="id_tran"><%= al.Id %></td>
                <td><%= al.Fecha %>
                  <bl></bl><%= al.Hora %></td>
                <td>
                  <% if al.IdProducto == 1 %>
                    <%= "Transaccional" %>
                  <% else %>
                    <%= "Perfiles" %>
                  <% end %>
                </td>
                <td><%= al.IdTran %> </td>
                <td style="max-width: 30em"><%= al.Mensaje %></td>
                <td><%= al.IdEstado %>-<%= al.testadosxalerta.Descripcion %></td>
                <td>
                  <% if al.user.present? %>
                    <%= al.user.name %> <%= al.user.last_name %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
              </tr>
              <tr id="detail<%= al.Id %>" style="display: none; background-color: #A5C9E6" class="cerrado">
                <td colspan="8">
                  <% if al.IdProducto == 1 %>
                    <label><%= t('views.alertc_index.filter') %>: </label>
                    <% if al.tx_filters.present? %>
                      <%= al.tx_filters.Id %>-<%= al.tx_filters.Description %>
                    <% else %>
                      N/A
                    <% end %>
                  <% else %>
                    <label><%= t('views.alertc_index.group') %>: </label>
                    <% if al.tgrupos.present? %>
                      <%= al.IdGrupo %>-<%= al.tgrupos.Nombre %>
                    <% else %>
                      N/A
                    <% end %>
                    <br>
                    <label><%= t('views.alertc_index.profile') %>: </label>
                    <% @perfil = Tperfiles.where(:IdPerfil => al.IdPerfil).where(:IdGrupo => al.IdGrupo) %>
                    <% if @perfil.present? %>
                      <% @perfil.each do |per| %>
                        <%= per.IdPerfil %>-<%= per.Nombre %>
                      <% end %>
                    <% else %>
                      N/A
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
      <div class="row" id="paginator">
        <div class="col-sm-7"></div>
        <div class="col-sm-5 text-right">
          <div style="margin-bottom: 2em;">
            <div class="pag_right" id="paginator_p">
              <%= paginate @resultado_alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
            </div>
            <div class="detall_left" id="cont_p">
              <%#= page_entries_info @resultado_alertas, entry_name: t('activerecord.all.alert') %>
              <%= page_entries_info @resultado_alertas, entry_name: t('views.niv_alert_index.alerts') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">

      $(".show_more").click(function () {
          var id = $(this).children(".id_tran").text()
          var tiene = $("#detail" + id).hasClass("cerrado")

          if (tiene) {
              $("#detail" + id).show()
              $("#detail" + id).removeClass("cerrado")
              $("#detail" + id).addClass("abierto")
              $(this).children(".show").html("")
              $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')

          } else {
              $("#detail" + id).hide()
              $("#detail" + id).removeClass("abierto")
              $("#detail" + id).addClass("cerrado")
              $(this).children(".show").html("")
              $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')

          }
      });

      <% if @search_for_states.present? %>
      $(function () {

          var barDataGraph = {
              labels: [
                  <% @arreglo_graph_states.each do |es| %>
                  "<%= es[:tipo] %>",
                  <% end %>
              ],
              datasets: [
                  {
                      label: "My First dataset",
                      fillColor: "rgba(0,48,87,0.5)",
                      strokeColor: "rgba(0,48,87,0.8)",
                      highlightFill: "rgba(0,48,87,0.75)",
                      highlightStroke: "rgba(0,48,87,1)",
                      data: [
                          <% @arreglo_graph_states.each do |es| %>
                          <%= es[:cantidad] %>,
                          <% end %>
                      ]
                  }
              ]
          };

          var barOptions = {
              scaleBeginAtZero: true,
              scaleShowGridLines: true,
              scaleGridLineColor: "rgba(0,0,0,.05)",
              scaleGridLineWidth: 1,
              barShowStroke: true,
              barStrokeWidth: 2,
              barValueSpacing: 5,
              barDatasetSpacing: 1,
              responsive: true,
          }


          $("#graph_results").on('shown.bs.modal', function () {
              var ctx2 = document.getElementById("barChart2").getContext("2d");
              var myNewChart2 = new Chart(ctx2).Bar(barDataGraph, barOptions);
          })
      });


      <% elsif @search_for_users.present? %>
      $(function () {

          var barDataGraph = {
              labels: [
                  <% @arreglo_graph_users.each do |us| %>
                  "<%= us[:usr_name] %>",
                  <% end %>
              ],
              datasets: [
                  {
                      label: "My First dataset",
                      fillColor: "rgba(0,48,87,0.5)",
                      strokeColor: "rgba(0,48,87,0.8)",
                      highlightFill: "rgba(0,48,87,0.75)",
                      highlightStroke: "rgba(0,48,87,1)",
                      data: [
                          <% @arreglo_graph_users.each do |us| %>
                          <%= us[:cantidad] %>,
                          <% end %>
                      ]
                  }
              ]
          };

          var barOptions = {
              scaleBeginAtZero: true,
              scaleShowGridLines: true,
              scaleGridLineColor: "rgba(0,0,0,.05)",
              scaleGridLineWidth: 1,
              barShowStroke: true,
              barStrokeWidth: 2,
              barValueSpacing: 5,
              barDatasetSpacing: 1,
              responsive: true,
          }

          $("#graph_results").on('shown.bs.modal', function () {
              var ctx2 = document.getElementById("barChart2").getContext("2d");
              var myNewChart2 = new Chart(ctx2).Bar(barDataGraph, barOptions);
          })
      });
      <% end %>

  </script>
<% end %>
