<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.release_a') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @atendiendo, entry_name: t('all.alerts') %>
              </div>
              <div class="pag_right">
                <%= paginate @atendiendo, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table footable no-paging" data-filter=#filter data-page-size="10">
            <thead>
            <tr>
              <th class="text-center" data-sort-ignore="true"><%= t('config.main') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.release_index.analyst') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.release_index.release') %></th>
            </tr>
            </thead>

            <tbody>
            <% @atendiendo.each do |al| %>
              <tr class="text-center">
                <td> <%= al.IdTran %></td>
                <td>
                  <% if al.user.present? %>
                    <%= al.user.name %> <%= al.user.last_name %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
                <td>
                  <input type="hidden" value="<%= al.IdTran %>" id="account<%= al.id %>">
                  <buton class="btn btn-w-m btn-primary btn-sm release" id="<%= al.id %>">
                    <i class="fa fa-unlock"></i>
                    <%= t('views.release_index.release') %>
                  </buton>
                </td>
              </tr>
            <% end %>
            </tbody>
            <!--<tfoot>
            <tr>
              <td colspan="11">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
            </tfoot>-->
          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @atendiendo, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @atendiendo, entry_name: t('all.alerts') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<script type="text/javascript">
    function recargar() {
        window.location.reload(true);
    }
    $(document).on("click", ".release", function () {
        var id = this.id;
        var account = $("#account" + id).val();
        swal({
                title: '<%= t('views.release_index.sure')%> ' + account + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "GET",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: "/alert_release/index?release=true&id_alert="+id,
                        data: {"_method": "index"},
                    })
                    swal(
                        {
                            title: '<%= t('views.release_index.released')%>',
                            type: "success",
                            confirmButtonText: "OK",
                        }, function (isConfirm) {
                            if (isConfirm) {
                                recargar();
                            }
                        })
                } else {
                    swal("<%= t('views.release_index.canceled')%>");
                }
            });
    })
</script>