<p id="notice"><%= notice %></p>
<div class="ibox-title">
  <h1><%= t('views.white_list_index.title') %></h1>
</div>
<div class="ibox-content">
  <section class="container m-t-lg">
    <div class="col-lg-12 no-padding text-right">
      <div style="margin-bottom: 2em;">
        <div class="pagination_count detall_left">
          <%= page_entries_info @white_lists, entry_name: ( params[:locale] == 'es' ?  t('views.white_list_index.cards') : t('views.white_list_index.cards').pluralize(@white_lists.count))  %>
        </div>
        <div id="paginator" class="pag_right">
          <%= paginate @white_lists, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
        </div>
      </div>
    </div>

    <table class="table table-striped table-hover text-center">
      <thead>
      <tr>
        <th class="text-center"><%= t('views.white_list_index.date_hour') %></th>
        <th class="text-center"><%= t('views.white_list_index.card_num') %></th>
        <th class="text-center"><%= t('views.white_list_index.user_name') %></th>
        <th class="text-center"><%= t('views.white_list_index.state') %></th>
      </tr>
      </thead>

      <tbody id="cards">
      <%= render 'cards' %>
      </tbody>
    </table>
  </section>

</div>
<div class="traducciones">
  <input type="hidden" id="you_sure" value="<%= t("all.you_sure") %>">
  <input type="hidden" id="add_swal_text" value="<%= t("views.white_list_index.add_swal_text") %>">
  <input type="hidden" id="confirm_add_swall_text" value="<%= t("views.white_list_index.confirm_add_swall_text") %>">
  <input type="hidden" id="delete_swal_text" value="<%= t("views.white_list_index.delete_swal_text") %>">
  <input type="hidden" id="confirmar" value="<%= t("all.confirmar") %>">
  <input type="hidden" id="confirm_delete_swal_text" value="<%= t("views.white_list_index.confirm_delete_swal_text") %>">
  <input type="hidden" id="action_cancel" value="<%= t("all.actionCanel") %>">
  <input type="hidden" id="btn_continue" value="<%= t("all.btn_continue") %>">
  <input type="hidden" id="cancelar" value="<%= t("all.cancel") %>">
  <input type="hidden" id="add_success" value="<%= t("views.white_list_index.add_success") %>">
  <input type="hidden" id="delete_success" value="<%= t("views.white_list_index.delete_success") %>">
</div>


<%#= link_to 'New White List', new_white_list_path %>
