<%= form_for(alertn) do |f| %>
  <% if alertn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alertn.errors.count, "error") %> prohibited this alertn from being saved:</h2>

      <ul>
      <% alertn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
