<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.new_a') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <br>

        <div class="row">
          <div class="col-sm-2"></div>

          <% if @leerNewTran == 2 && @leerNewPer == 2 && @alert_Tran > 0 %>

            <% if @alert_Per > 0 %>
              <div class="col-sm-4">
<!--                Entre alerta Transaccional-->
                <%= link_to alertn_alertTran_url, id: "tran" do %>
                  <div class="ibox tran">
                    <div class="ibox-content product-box">
                      <div class="product-imitation">
                        <% path = File.join(Rails.root, "app/assets/images", 'KM-TX.png') %>
                        <br>
                        <% if File.exist?(path) %>
                          <%= image_tag 'KM-TX.png', size: '200x200' %>
                        <% else %>
                          <%= image_tag 'logoKS.png', size: '200x200' %>
                        <% end %>
                      </div>
                      <div class="product-desc">
                        <div class="row">
                          <div class="text-center m-t-lg">
                            <h1><%= t('views.alert_new_index.new_tran') %><span class="text-danger"></span></h1>
                          </div>
                          <div class="text-right col-md-12">
                            <%#= link_to '<button class="btn btn-primary btn-xs" type="button" ><i class="fa fa-file-text "></i></button>'.html_safe, product, :title => t('all.show')%>
                            <%#= link_to '<button class="btn btn-warning btn-xs" type="button" ><i class="fa fa-pencil "></i></button>'.html_safe, edit_product_path(product), :title => t('all.edit') %>
                            <%#= link_to '<button class="btn btn-danger btn-xs" type="button" title="Delete"><i class="fa fa-trash-o "></i></button>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' + product.name}%>
                            <!--<input type="hidden" value="<%#= product.name %>" id="producto<%#= product.id %>">-->

                            <!--<button class="btn btn-danger btn-xs  product" type="button" title=<%#= t('gen.delete') %>   id="<%#= product.id %>">-->
                            <!--<i class="fa fa-trash-o"></i>-->
                            <!--</button>-->

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <% end %>
            <% else %>
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
<!--                Entre alerta Transaccional 2-->
                <%= link_to alertn_alertTran_url, id: "tran" do %>
                  <div class="ibox tran">
                    <div class="ibox-content product-box">
                      <div class="product-imitation">
                        <% path = File.join(Rails.root, "app/assets/images", 'KM-TX.png') %>
                        <br>
                        <% if File.exist?(path) %>
                          <%= image_tag 'KM-TX.png', size: '200x200' %>
                        <% else %>
                          <%= image_tag 'logoKS.png', size: '200x200' %>
                        <% end %>
                      </div>
                      <div class="product-desc">
                        <div class="row">
                          <div class="text-center m-t-lg">
                            <h1><%= t('views.alert_new_index.new_tran') %><span class="text-danger"></span></h1>
                          </div>
                          <div class="text-right col-md-12">
                            <%#= link_to '<button class="btn btn-primary btn-xs" type="button" ><i class="fa fa-file-text "></i></button>'.html_safe, product, :title => t('all.show')%>
                            <%#= link_to '<button class="btn btn-warning btn-xs" type="button" ><i class="fa fa-pencil "></i></button>'.html_safe, edit_product_path(product), :title => t('all.edit') %>
                            <%#= link_to '<button class="btn btn-danger btn-xs" type="button" title="Delete"><i class="fa fa-trash-o "></i></button>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' + product.name}%>
                            <!--<input type="hidden" value="<%#= product.name %>" id="producto<%#= product.id %>">-->

                            <!--<button class="btn btn-danger btn-xs  product" type="button" title=<%#= t('gen.delete') %>   id="<%#= product.id %>">-->
                            <!--<i class="fa fa-trash-o"></i>-->
                            <!--</button>-->

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <% end %>
                <div class="col-sm-2"></div>
            <% end %>

          <% elsif @leerNewTran == 2 && @leerNewPer != 2 && @alert_Tran > 0 %>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <%= link_to alertn_alertTran_url, id: "tran" do %>
                <div class="ibox tran">
                  <div class="ibox-content product-box">
                    <div class="product-imitation">
                      <% path = File.join(Rails.root, "app/assets/images", 'KM-TX.png') %>
                      <br>
                      <% if File.exist?(path) %>
                        <%= image_tag 'KM-TX.png', size: '200x200' %>
                      <% else %>
                        <%= image_tag 'logoKS.png', size: '200x200' %>
                      <% end %>
                    </div>
                    <div class="product-desc">
                      <div class="row">
                        <div class="text-center m-t-lg">
                          <h1><%= t('views.alert_new_index.new_tran') %><span class="text-danger"></span></h1>
                        </div>
                        <div class="text-right col-md-12">
                          <%#= link_to '<button class="btn btn-primary btn-xs" type="button" ><i class="fa fa-file-text "></i></button>'.html_safe, product, :title => t('all.show')%>
                          <%#= link_to '<button class="btn btn-warning btn-xs" type="button" ><i class="fa fa-pencil "></i></button>'.html_safe, edit_product_path(product), :title => t('all.edit') %>
                          <%#= link_to '<button class="btn btn-danger btn-xs" type="button" title="Delete"><i class="fa fa-trash-o "></i></button>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' + product.name}%>
                          <!--<input type="hidden" value="<%#= product.name %>" id="producto<%#= product.id %>">-->

                          <!--<button class="btn btn-danger btn-xs  product" type="button" title=<%#= t('gen.delete') %>   id="<%#= product.id %>">-->
                          <!--<i class="fa fa-trash-o"></i>-->
                          <!--</button>-->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              <% end %>


              <div class="col-sm-2"></div>
          <% end %>

          <% if @leerNewTran == 2 && @leerNewPer == 2 && @alert_Per > 0 %>
            <% if @alert_Tran > 0 %>
              <div class="col-sm-4">
<!--                Entre alerta Perfiles-->
                <%= link_to alertn_alertPer_url, id: "per" do %>
                  <div class="ibox per">
                    <div class="ibox-content product-box">
                      <div class="product-imitation">
                        <% path = File.join(Rails.root, "app/assets/images", 'KM-PERFILES.png') %>
                        <br>
                        <% if File.exist?(path) %>
                          <%= image_tag 'KM-PERFILES.png', size: '200x200' %>
                        <% else %>
                          <%= image_tag 'logoKS.png', size: '200x200' %>
                        <% end %>
                      </div>
                      <div class="product-desc">
                        <div class="row">
                          <div class="text-center m-t-lg">
                            <h1><%= t('views.alert_new_index.new_per') %><span class="text-danger"></span></h1>
                          </div>
                          <div class="text-right col-md-12">
                            <%#= link_to '<button class="btn btn-primary btn-xs" type="button" ><i class="fa fa-file-text "></i></button>'.html_safe, product, :title => t('all.show')%>
                            <%#= link_to '<button class="btn btn-warning btn-xs" type="button" ><i class="fa fa-pencil "></i></button>'.html_safe, edit_product_path(product), :title => t('all.edit') %>
                            <%#= link_to '<button class="btn btn-danger btn-xs" type="button" title="Delete"><i class="fa fa-trash-o "></i></button>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' + product.name}%>
                            <!--<input type="hidden" value="<%#= product.name %>" id="producto<%#= product.id %>">-->

                            <!--<button class="btn btn-danger btn-xs  product" type="button" title=<%#= t('gen.delete') %>   id="<%#= product.id %>">-->
                            <!--<i class="fa fa-trash-o"></i>-->
                            <!--</button>-->

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <% end %>
            <% else %>
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                <%= link_to alertn_alertPer_url, id: "per" do %>
                  <div class="ibox per">
                    <div class="ibox-content product-box">
                      <div class="product-imitation">
                        <% path = File.join(Rails.root, "app/assets/images", 'KM-PERFILES.png') %>
                        <br>
                        <% if File.exist?(path) %>
                          <%= image_tag 'KM-PERFILES.png', size: '200x200' %>
                        <% else %>
                          <%= image_tag 'logoKS.png', size: '200x200' %>
                        <% end %>
                      </div>
                      <div class="product-desc">
                        <div class="row">
                          <div class="text-center m-t-lg">
                            <h1><%= t('views.alert_new_index.new_per') %><span class="text-danger"></span></h1>
                          </div>
                          <div class="text-right col-md-12">
                            <%#= link_to '<button class="btn btn-primary btn-xs" type="button" ><i class="fa fa-file-text "></i></button>'.html_safe, product, :title => t('all.show')%>
                            <%#= link_to '<button class="btn btn-warning btn-xs" type="button" ><i class="fa fa-pencil "></i></button>'.html_safe, edit_product_path(product), :title => t('all.edit') %>
                            <%#= link_to '<button class="btn btn-danger btn-xs" type="button" title="Delete"><i class="fa fa-trash-o "></i></button>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' + product.name}%>
                            <!--<input type="hidden" value="<%#= product.name %>" id="producto<%#= product.id %>">-->

                            <!--<button class="btn btn-danger btn-xs  product" type="button" title=<%#= t('gen.delete') %>   id="<%#= product.id %>">-->
                            <!--<i class="fa fa-trash-o"></i>-->
                            <!--</button>-->

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-2"></div>
            <% end%>

          <% elsif @leerNewPer == 2 && @leerNewTran != 2 && @alert_Per > 0 %>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <%= link_to alertn_alertPer_url, id: "per" do %>
                <div class="ibox per">
                  <div class="ibox-content product-box">
                    <div class="product-imitation">
                      <% path = File.join(Rails.root, "app/assets/images", 'KM-PERFILES.png') %>
                      <br>
                      <% if File.exist?(path) %>
                        <%= image_tag 'KM-PERFILES.png', size: '200x200' %>
                      <% else %>
                        <%= image_tag 'logoKS.png', size: '200x200' %>
                      <% end %>
                    </div>
                    <div class="product-desc">
                      <div class="row">
                        <div class="text-center m-t-lg">
                          <h1><%= t('views.alert_new_index.new_per') %><span class="text-danger"></span></h1>
                        </div>
                        <div class="text-right col-md-12">
                          <%#= link_to '<button class="btn btn-primary btn-xs" type="button" ><i class="fa fa-file-text "></i></button>'.html_safe, product, :title => t('all.show')%>
                          <%#= link_to '<button class="btn btn-warning btn-xs" type="button" ><i class="fa fa-pencil "></i></button>'.html_safe, edit_product_path(product), :title => t('all.edit') %>
                          <%#= link_to '<button class="btn btn-danger btn-xs" type="button" title="Delete"><i class="fa fa-trash-o "></i></button>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' + product.name}%>
                          <!--<input type="hidden" value="<%#= product.name %>" id="producto<%#= product.id %>">-->

                          <!--<button class="btn btn-danger btn-xs  product" type="button" title=<%#= t('gen.delete') %>   id="<%#= product.id %>">-->
                          <!--<i class="fa fa-trash-o"></i>-->
                          <!--</button>-->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-sm-2"></div>
          <% end %>

        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
<br>

<style>
  #per:link {
    color: #676a6c;
  }

  #per:visited {
    color: #676a6c;
  }

  #tran:link {
    color: #676a6c;
  }

  #tran:visited {
    color: #676a6c;
  }
</style>
