<%= form_for(user) do |f| %>
<input type="hidden" name="change_perfil_form" value="cambio perfil">
    <% areas_arr = Array.new

       @perfil = current_user.profile_id
       @area_usuario = Profile.find(@perfil).area_id

       if @area_usuario == "1"
         @areas = Area.all

         areas_arr = Array.new

         @areas.each do |ar|
           valor = {id: '', name: '', area_id: ''}
           valor[:id] = ar.id
           valor[:name] = ar.name
           valor[:area_id] = ar.area_id

           areas_arr.push(valor)
         end

         @areas = areas_arr
       else
         @areas = Area.where("id = ?", @area_usuario)

         areas_arr = Array.new

         @areas.each do |ar|
           @nombre = ar.name
           valor = {id: '', name: '', area_id: ''}
           valor[:id] = ar.id
           valor[:name] = ar.name
           valor[:area_id] = ar.area_id

           areas_arr.push(valor)

           @subarea_1 = Area.where("area_id = ?", ar.id)

           if !@subarea_1.nil?

             @subarea_1.each do |sub|
               valor = {id: '', name: '', area_id: ''}
               valor[:id] = sub.id
               valor[:name] = sub.name
               valor[:area_id] = sub.area_id

               areas_arr.push(valor)

               @subarea_2 = Area.where("area_id = ?", sub.id)

               if !@subarea_2.nil?

                 @subarea_2.each do |sub2|
                   valor = {id: '', name: '', area_id: ''}
                   valor[:id] = sub2.id
                   valor[:name] = sub2.name
                   valor[:area_id] = sub2.area_id

                   areas_arr.push(valor)

                   @subarea_3 = Area.where("area_id = ?", sub2.id)

                   if !@subarea_3.nil?

                     @subarea_3.each do |sub3|
                       valor = {id: '', name: '', area_id: ''}
                       valor[:id] = sub3.id
                       valor[:name] = sub3.name
                       valor[:area_id] = sub3.area_id

                       areas_arr.push(valor)

                       @subarea_4 = Area.where("area_id = ?", sub3.id)

                       if !@subarea_4.nil?

                         @subarea_4.each do |sub4|
                           valor = {id: '', name: '', area_id: ''}
                           valor[:id] = sub4.id
                           valor[:name] = sub4.name
                           valor[:area_id] = sub4.area_id

                           areas_arr.push(valor)

                           @subarea_5 = Area.where("area_id = ?", sub4.id)

                           if !@subarea_5.nil?

                             @subarea_5.each do |sub5|
                               valor = {id: '', name: '', area_id: ''}
                               valor[:id] = sub5.id
                               valor[:name] = sub5.name
                               valor[:area_id] = sub5.area_id

                               areas_arr.push(valor)

                               @subarea_6 = Area.where("area_id = ?", sub5.id)

                               if !@subarea_6.nil?

                                 @subarea_6.each do |sub6|
                                   valor = {id: '', name: '', area_id: ''}
                                   valor[:id] = sub6.id
                                   valor[:name] = sub6.name
                                   valor[:area_id] = sub6.area_id

                                   areas_arr.push(valor)

                                   @subarea_7 = Area.where("area_id = ?", sub6.id)

                                   if !@subarea_7.nil?

                                     @subarea_7.each do |sub7|
                                       valor = {id: '', name: '', area_id: ''}
                                       valor[:id] = sub7.id
                                       valor[:name] = sub7.name
                                       valor[:area_id] = sub7.area_id

                                       areas_arr.push(valor)

                                       @subarea_8 = Area.where("area_id = ?", sub7.id)

                                       if !@subarea_8.nil?

                                         @subarea_8.each do |sub8|
                                           valor = {id: '', name: '', area_id: ''}
                                           valor[:id] = sub8.id
                                           valor[:name] = sub8.name
                                           valor[:area_id] = sub8.area_id

                                           areas_arr.push(valor)

                                           @subarea_9 = Area.where("area_id = ?", sub8.id)

                                           if !@subarea_9.nil?

                                             @subarea_9.each do |sub9|
                                               valor = {id: '', name: '', area_id: ''}
                                               valor[:id] = sub9.id
                                               valor[:name] = sub9.name
                                               valor[:area_id] = sub9.area_id

                                               areas_arr.push(valor)

                                               @subarea_10 = Area.where("area_id = ?", sub9.id)

                                               if !@subarea_10.nil?

                                                 @subarea_10.each do |sub10|
                                                   valor = {id: '', name: '', area_id: ''}
                                                   valor[:id] = sub10.id
                                                   valor[:name] = sub10.name
                                                   valor[:area_id] = sub10.area_id

                                                   areas_arr.push(valor)
                                                 end
                                               end
                                             end
                                           end
                                         end
                                       end
                                     end
                                   end
                                 end
                               end
                             end
                           end
                         end
                       end
                     end
                   end
                 end
               end
             end
           end
         end

         @areas = areas_arr
       end
    %>
    <div>
      <p>
      <center>
        <%= f.label t('activerecord.atributes.area'), { :id => 'labelArea'} %>
        <%#= f.collection_select :area_id, Area.order(:id), :id, :name, {:include_blank => t('views.users_change.placeh_area_u_change')}, {:required => true, :id => 'areaSel', :class => 'form-control', :style => 'width: 250px;'} %>
        <select class="form-control" id="areaSel" name="user[area_id]" style="width: 250px">
          <option value=""> <%= t('views.profiles_new.placeh_area') %> </option>
          <% @areas.each do |ar| %>
              <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
          <% end %>
        </select>
      </center>
      </p>
    </div>

    <div>
      <center>
        <%= f.label t('activerecord.atributes.profile_id'), {:style => 'display: none;', :id => 'labelProfile'} %>
        <select id="perfil" name="user[profile_id]" class="form-control" style="width: 250px; display: none;">
          <option value=""><%= t('views.users_change.placeh_profile_u_change') %></option>
        </select>
      </center>
    </div>

    <br>

    <div class="actions">
      <p class="text-center">
        <button type="submit" class="btn btn-sm btn-primary " value="<%= t('views.users_change.change_profile_u_change') %>" name="btnSave" id="btnChange" style="display: none;">
          <i class="fa fa-user"></i>  <%= t('views.users_change.change_profile_u_change') %>
        </button>
      </p>
    </div>
<% end %>

<script>
    var flag = "<%= @current_user_flag %>"
    var area = "<%= @current_user_area %>"

</script>

<script>
    $("#areaSel").click(function () {
        $("#areaSel").change(function () {
            var valor = $(this).val()

            if (valor == "") {
                $("#perfil").hide();
                $("#labelProfile").hide();
                $("#btnChange").hide()
            }
            else {
                $("#perfil option").remove();
                $("#perfil").show();
                $("#labelProfile").show();

                if(area == 1){ //Central muestro todos los perfiles disponibles en el área
                    if (valor == 1){
                        $("#perfil").append($("<option value></option>").text("<%= t('views.users_edit.placeh_profile_u_edit') %>"));
                        for (i = 0; i < gon.pflag.length; i++) {
                            if (gon.pflag[i].area_id == valor && gon.pflag[i].flag != 1) {
                                $("#perfil").append($("<option></option>")
                                    .attr("value", gon.pflag[i].id)
                                    .text(gon.pflag[i].name));
                            }
                        }
                    }else{
                        $("#perfil").append($("<option value></option>").text("<%= t('views.users_edit.placeh_profile_u_edit') %>"));
                        for (i = 0; i < gon.pflag.length; i++) {
                            if (gon.pflag[i].area_id == valor && gon.pflag[i].flag != 2) {
                                $("#perfil").append($("<option></option>")
                                    .attr("value", gon.pflag[i].id)
                                    .text(gon.pflag[i].name));
                            }
                        }
                    }

                }else { //Si no es área central sólo muestro los perfiles que tengan bandera mayor a la mía (menor rango)
                    $("#perfil").append($("<option value></option>").text("<%= t('views.users_edit.placeh_profile_u_edit') %>"));
                    for (i = 0; i < gon.pflag.length; i++) {
                        if (gon.pflag[i].area_id == valor && gon.pflag[i].flag >= flag && gon.pflag[i].flag != 2) {
                            $("#perfil").append($("<option></option>")
                                .attr("value", gon.pflag[i].id)
                                .text(gon.pflag[i].name));
                        }
                    }
                }

            }


        })
    })

    $("#perfil").change(function(){
        if ($(this).val() != ""){
            $("#btnChange").show()
        }
    })
    $(function () {
        $('#edit_user_4').validate({
            messages: {
                "user[area_id]": {
                    required: "<%= t('all.requi')%>"
                },
                "user[nameProfile_id]": {
                    required: "<%= t('all.requi')%>"
                }
            }
        })
    })


</script>