<!--<strong>BANDERA: <%#= @fl = current_user.nameProfile.flag %></strong><br>
<strong>AREA: <%#= @ar = current_user.nameProfile.id_area %></strong><br>
Bandera Actual: <%#= @fl %><br>
Current User Name Profile Id: <%#= current_user.nameProfile_id %><br>
Current user Area : <%#= current_user.area.name %><br>
Current User Id Area: <%#= current_user.nameProfile.id_area %>-->
<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">  <h1><%= t('views.users_edit.title_u_edit') %></h1>
  <br>
</div>

      <div class="ibox-content">
<%= render 'form', user: @user %>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
    <p class="text-center">

    </p>
  </div>
  <div class="col-md-4"></div>
</div>
      </div>
    </div>
  </div>
</div>