<button class="btn btn-rounded uti pos" id="btnalert">
  <%
    consulta = 'trcestatus'

    if ActiveRecord::Base.connection.table_exists? consulta

      @hora_act = Time.now
      # @hora_act = Time.now + 33.minutes
      # @hora_act = Time.now + 90.minutes
      @fecha_act = Time.now
      @fecha_act = @fecha_act.strftime("%Y-%m-%d")
      @hora_act = @hora_act.to_time


      sql_query = "select top 1  Id, Fecha, Hora, Reiniciar from trcestatus order by Id desc"
      # sql_query = "select Fecha, Hora from trcestatus order by Id desc limit 1"

      Timeout::timeout(0) {@alerta_existente = ActiveRecord::Base::connection.exec_query(sql_query)}

      if @alerta_existente.present?
        @alerta_existente.each do |al|
          puts "Todos los elementos:::::::: #{al}"

          @fecha_c = al['Fecha']
          @hora = al['Hora']

          @id = al['Id']
          @reiniciar = al['Reiniciar']
        end

        @ultima_fecha = @fecha_c

        @ult_conexion = "#{@fecha_c} " "#{@hora}"

        @ult_conexion = @ult_conexion.to_time

        @tiempo_conexion = ((@hora_act.to_time - @ult_conexion.to_time) / 1.minutes).to_i

        if @fecha_act == @ultima_fecha
          if (@tiempo_conexion < 30)
            @azul = true
          elsif (@tiempo_conexion >= 30) && (@tiempo_conexion <= 60)
            @amarillo = true
          elsif (@tiempo_conexion > 60)
            @rojo = true
          end
        elsif @fecha_act != @ultima_fecha
          @rojo = true
        end
      else
        puts '--------------Error conexión no encontrada'
        @sin_conexion = true
        @amarillo = true
        @ult_conexion = "#{t('all.no_data_tran')}"
      end
    end


  %>
  <i class="fa fa-clock-o"></i> <%= @ult_conexion %>
</button>

<input type="hidden" id="boton">

<script>

    <% if @azul %>
    $(document).ready(function () {
        $('#btnalert').addClass('uti');
        $('#poslab2').hide();
    });
    <% elsif @amarillo %>
    $(document).ready(function () {
        $('#btnalert').removeClass('uti');
        $('#btnalert').addClass('uta');
        $('#poslab2').hide();
    });
    <% elsif @rojo %>
    $(document).ready(function () {
        $('#btnalert').removeClass('uti');
        $('#btnalert').addClass('utr');
        $('#poslab').hide();
        $(document).ready(parpa);

        function parpa() {
            $('#poslab2').fadeIn(500).delay(250).fadeOut(500, parpa)
            setTimeout("$('#poslab2').stop(true,true).css('opacity', 1)", 5000000);
        }
    });

    <% end %>

    //-- Enviar reinicio


    let valReiniciar = "<%= @reiniciar %>",
        idTrcst = "<%= @id %>",
        idUser = "<%= current_user.id %>",
        userName = "<%= current_user.name %>",
        lastName = "<%= current_user.last_name %>";

    (function () {
        // your page initialization code here
        // the DOM will be available here
        let btnUltiAlert = document.getElementById('btnalert');
        $('#boton').val("<%= @reiniciar %>")

        btnUltiAlert.addEventListener('click', function () {

            // alert('Btn alerta Ultimo');

            if (valReiniciar != '1') {
                // alert('El registro esta en 0')

                swal({
                        title: '<%= t('all.alerta') %>',
                        text: `<%= t('all.are_sure') %> ${userName}?`,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                        cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            swal({
                                title: '<%= t('all.confirmar') %>',
                                text: '<%= t('all.info_sec') %>',
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "<%= t('all.confirmar') %>",
                                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            }, function (isConfirm) {
                                if (isConfirm) {

                                    let msgtxt = `Se solicito reinicio del Receptor Central por el usuario ${userName} ${lastName} id ${idUser}`;

                                    $.ajax({
                                        type: "PUT",
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                        },
                                        url: `/trcestatus/${idTrcst}.json`,
                                        contentType: "application/json",
                                        dataType: "json",
                                        data: JSON.stringify({
                                            "_method": "update",
                                            //--- Tbitacora
                                            IdUsuario: idUser,
                                            msg: msgtxt
                                        }),
                                        success: function(result, status, xhr){

                                            console.log('entre load ........' + result + status + xhr);
                                            $(".alertaBoton").load('../home/alertaBoton');
                                            $('#btnreinicio').css('display', 'block');

                                            swal({
                                                position: 'top-end',
                                                type: 'success',
                                                title: 'Ok',
                                                text: '<%= t('all.redyReFilter') %>',
                                                showConfirmButton: true,
                                                timer: 5000
                                            });
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {

                                            swal({
                                                position: 'top-end',
                                                type: 'error',
                                                title: '¡Error!',
                                                text: `Error ${xhr.status} en ${thrownError}`,
                                                showConfirmButton: true,
                                                timer: 3000
                                            });
                                        }
                                    });

                                } else {
                                    swal({
                                        position: 'top-end',
                                        type: 'error',
                                        title: '<%= t('all.actionCanel') %>',
                                        text: '<%= t('all.info_sure') %>',
                                        showConfirmButton: true,
                                        timer: 3000
                                    });
                                }
                            })
                        } else {
                            swal({
                                position: 'top-end',
                                type: 'error',
                                title: '<%= t('all.actionCanel') %>',
                                text: '<%= t('all.info_sure') %>',
                                showConfirmButton: true,
                                timer: 3000
                            });
                        }
                    });

            } else {
                // alert('El registro esta en 1')
                swal({
                    title: '<%= t('all.alerta') %>',
                    text: "<%= t('all.rereFilters') %>",
                    type: 'error',
                    showCancelButton: false,
                    timer: 5000
                })
                $('#btnreinicio').css('display', 'block')
            }
        });
    })();

    let fecha = new Date(),
        horas = `${fecha.getHours()}:${fecha.getMinutes()}:${fecha.getSeconds()}`;


    // console.log(`Actualizado ${fecha.getDate()} a las ${horas} el valor de reinicio es: ${valReiniciar}`);

</script>

<style>

  #btnalert {
    border: 2px solid;
    border: none;
  }

  #btnalert:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(115, 115, 115);
    transition: all 0.2s ease;
  }

  .pos {
    position: absolute;
  }

  .uti {
    background-color: #003057;
    margin: 15px 0 0 10px;
    height: 30px;
    width: 170px;
    color: white;
  }

  .u {
    background-color: orange;
    color: black;
  }

  .uta {
    background-color: #fffb3a;
    margin: 15px 0 0 10px;
    height: 30px;
    width: 170px;
    color: black;
  }

  .utr {
    background-color: #ff1a26;
    margin: 15px 0 0 10px;
    height: 30px;
    width: 170px;
    color: white;
  }
</style>