
<%
  @hora_ant = Time.now - 30
  @fecha = @hora_ant.strftime("%Y-%m-%d")
  @hora_ant = @hora_ant.strftime("%k:%M:%S.00000")

  @hora_act = Time.now
  @hora_act = @hora_act.strftime("%k:%M:%S.00000")

  @transAnt = Tbitacora.where(:IdTipoReg => 3).where(:IdProducto => 1).where("Hora <= ?", @hora_ant).where(:fecha => @fecha).count
  @transAct = Tbitacora.where(:IdTipoReg => 3).where(:IdProducto => 1).where("Hora <= ?", @hora_act).where(:fecha => @fecha).count

  @perAnt = Tbitacora.where(:IdTipoReg => 3).where(:IdProducto => 2).where("Hora <= ?", @hora_ant).where(:fecha => @fecha).count
  @perAct = Tbitacora.where(:IdTipoReg => 3).where(:IdProducto => 2).where("Hora <= ?", @hora_act).where(:fecha => @fecha).count

  if @transAct > @transAnt

    @mensajeTran = true
    # @cantAlertTran = @transAct - @transAnt
    # @cantAlertTran = @cantAlertTran.to_s
  else
    @mensaje = false
  end

  if @perAct > @perAnt

    @mensajePer = true
    # @cantAlertPer = @perAct - @perAnt
    # @cantAlertPer = @cantAlertPer.to_s
  else
    @mensaje = false
  end
%>
<style>
  #toast-container > .toast-warning:before {
    content: none;
  }
  #toast-container>div{
    opacity: 1;

  }
  /*.toast-warning{*/
    /*background-color: #fff3cd;*/
  /*}*/
</style>
<script type="text/javascript" charset="utf-8">
     // verdadero

     <% if @mensajeTran == true %>
     $(function(){
         console.log("entre mensajeAlerta Transaccional")


         toastr.options = {
             closeButton: true,
             showMethod: 'slideDown',
             preventDuplicates: true,
             timeOut: 0,
             extendedTimeOut: 0
         };

         toastr.warning("Transaccional", "Nueva Alerta de");
     });
     <% end %>

     <% if @mensajePer == true %>
     $(function(){
         console.log("entre mensajeAlerta Perfiles")
         toastr.options = {
             closeButton: true,
             showMethod: 'slideDown',
             preventDuplicates: true,
             timeOut: 0,
             extendedTimeOut: 0
         };
         toastr.warning("Perfiles", "Nueva Alerta de");
     });
     <% end %>

</script>