<%= form_for(area) do |f| %>
    <% if area.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

          <ul>
            <% area.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <div class="field">
          <%= f.label t('all.name') %>
          <%= f.text_field :name, :class => 'form-control', :required => true, :id => 'nombre', autocomplete: "off", :maxlength => '255' %>
          <input type="hidden" name="nombrePas" id="nombrePas">
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <% if @areas.length > 0 %>
            <div class="field">
              <br>
              <label><%= t('views.areas_form.subarea') %></label>
              <br>
              <input type="checkbox" class="i-checks yes" value="1" name="subarea_yes" id="subarea_yes">&nbsp;<%= t('all.word_yes') %>
              <br>
              <input type="checkbox" class="i-checks no" value="0" name="subarea_no" id="subarea_no">&nbsp;<%= t('views.areas_form.no') %>
              <input type="hidden" name="nombrePas" id="nombrePas">
            </div>
        <% end %>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="field">

          <% if action_name == "new" %>
              <label id="label_area" style="display: none;"><%= t('views.areas_form.below_new') %></label>
              <select class="form-control" id="area_id" style="display: none;" name="area[area_id]">
                <option value=""> <%= t('views.profiles_new.placeh_area') %> </option>
                <% @areas.each do |ar| %>
                    <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
                <% end %>
              </select>
          <% else %>
              <% if @areas.length > 1 %>
                  <label id="label_area" style="display: none;"><%= t('views.areas_form.below_edit') %></label>
                  <select class="form-control" id="area_id" style="display: none;" name="area[area_id]">
                    <option value=""> <%= t('views.profiles_new.placeh_area') %> </option>
                    <% @areas.each do |ar| %>
                        <% if ar[:id] != area.id %>
                            <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
                        <% end %>
                    <% end %>
                  </select>
                  <script>
                      $(function () {
                          <% if !area.area_id.nil? %>
                          $('input.yes').iCheck('check');

                          $('#area_id option[value="<%= area.area_id %>"]').prop('selected', true)
                          <% else %>
                          $('input.no').iCheck('check');
                          <% end %>
                      })
                  </script>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="col-md-12 hr-line-dashed"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <button type="submit" , class="btn btn-xs btn-primary " , value="<%= t('all.save') %>" , name="btnSave">
            <i class="fa fa-sticky-note"></i>  <%= t('all.save') %>
          </button>
          <%= link_to '<span class="fa fa-sticky-note" ></span>  '.html_safe + t('all.back'), areas_path, :class => 'btn btn-xs btn-primary dim' %>
        </div>
      </div>
    </div>
    <script>
        var id = "<%= area.id%>"

    </script>
<% end %>
<script type="text/javascript">
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {color: '#1AB394'});
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
</script>

<script>
    $(document).ready(function () {
        var pasado = $("#nombre").val();
        $("#nombrePas").val(pasado);
    });

    $('#new_area').validate({
        messages: {
            "area[name]": {
                required: "<%= t('all.requi')%>"
            }
        }
    });

    $('#edit_area_' + id).validate({
        messages: {
            "area[name]": {
                required: "<%= t('all.requi')%>"
            }
        }
    });

    $('input.yes').on('ifChecked', function () {
        $('input.no').iCheck('uncheck');

        $("#label_area").show()
        $("#area_id").show()
    });

    $('input.no').on('ifChecked', function () {
        $('input.yes').iCheck('uncheck');

        $("#label_area").hide()
        $("#area_id").hide()
    });


</script>