<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.areas') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <% if @error.present? %>
            <!--<div class="alert alert-danger alert-dismissable fade in">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
            <!--<%#= @error %>-->
            <!--</div>-->
            <script>
                swal({
                    title: "<%= t('all.no_filter')%>",
                    type: "warning"

                }); // swal
            </script>
        <% end %>

        <%= form_tag({:controller => "areas", :action => "index"}, :method => "get") do %>
            <input type="hidden" value="<%= params[:locale] %>" name="locale">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="search" autocomplete="off" placeholder="<%= t('all.placehol_search') %>">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="btn-group">
                    <%#= submit_tag t('all.btn_search'), :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>

                    <%= button_tag(type: 'submit', class: 'btn btn-w-m btn-primary') do %>
                        <i class="fa fa-search"></i>
                        <%= t('all.btn_search') %>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>

        <% end %>

        <% if @query.present? %>

            <div class="row">
              <div class="col-lg-4">
                <h3><%= t('all.query') %>: <%= @query %></h3>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                      <%= link_to '<i class="fa fa-eraser"></i> '.html_safe + t('all.clean'), areas_path, :class => "btn btn-m btn-primary", :data => {:no_turbolink => true} %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        <% end %>


        <div class="row">
          <div class="col-sm-4">
            <br>
            <br>
            <% if @crearArea == 8 %>
                <%= link_to '<span class="fa fa-sticky-note"></span> '.html_safe + t('views.areas_index.new'), new_area_path, :class => 'btn btn-xs btn-primary dim' %>
            <% end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @areas, entry_name: t('activerecord.models.areas').pluralize(@areas.count) %>
              </div>
              <div class="pag_right">
                <%= paginate @areas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table footable no-paging" data-filter=#filter data-page-size="10">
            <thead>
            <tr>
              <th class="text-center" data-sort-ignore="true"><%= t('all.name') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.subarea') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.edit') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.destroy') %></th>
            </tr>
            </thead>

            <tbody>
            <% if current_user.area_id == "1" %>
                <% @areas.each do |area| %>

                    <tr>
                      <td class="text-center"><%= area[:name] %></td>
                      <td class="text-center">
                        <% if area[:area_id].nil? %>
                            N/A
                        <% else %>
                            <% @ar = Area.find(area[:area_id]) %>
                            <%= @ar.name  %>
                        <% end %>
                      </td>
                      <td class="text-center">
                        <% if @editarArea == 4 && area[:id] != 1 %>
                            <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_area_path(area), :data => {:no_turbolink => false} %>
                        <% end %>
                      </td>
                      <td class="text-center">
                        <% if @eliminarArea == 1 && area[:id] != 1 %>
                            <input type="hidden" value="<%= area[:name] %>" id="area<%= area[:id] %>">
                            <%#= link_to '<button class="btn btn-danger btn-xs areas" type="button"><i class="fa fa-trash-o "></i></button>'.html_safe, area, method: :delete, data: {confirm: t('views.areas_index.confirm')}, :id => area.id %>
                            <button class="btn btn-danger btn-xs  areas" type="button" id="<%= area[:id] %>">
                              <i class="fa fa-trash-o"></i>
                            </button>
                        <% end %>
                      </td>

                    </tr>
                <% end %>
            <% else %>
                <% @areas.each do |area| %>
                    <tr>
                      <td class="text-center"><%= area[:name] %></td>
                      <td class="text-center">
                        <% if area[:area_id].nil? %>
                        N/A
                        <% else %>
                            <% @ar = Area.find(area[:area_id]) %>
                            <%= @ar.name  %>
                        <% end %>
                        </td>
                      <td class="text-center">
                        <% if @editarArea == 4 && area[:id] != 1%>
                            <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_area_path(area), :data => {:no_turbolink => false} %>
                        <% end %>
                      </td>
                      <td class="text-center">
                        <% if @eliminarArea == 1 && area[:id] != 1%>
                            <input type="hidden" value="<%= area[:name] %>" id="area<%= area[:id]%>">
                            <%#= link_to '<button class="btn btn-danger btn-xs areas" type="button"><i class="fa fa-trash-o "></i></button>'.html_safe, area, method: :delete, data: {confirm: t('views.areas_index.confirm')}, :id => area.id %>
                            <button class="btn btn-danger btn-xs  areas" type="button" id="<%= area[:id] %>">
                              <i class="fa fa-trash-o"></i>
                            </button>
                        <% end %>
                      </td>

                    </tr>
                <% end %>
            <% end %>

            </tbody>
            <!--<tfoot>
            <tr>
              <td colspan="11">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
            </tfoot>-->
          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <% if @crearArea == 8 %>
                <%= link_to '<span class="fa fa-sticky-note"></span> '.html_safe + t('views.areas_index.new'), new_area_path, :class => 'btn btn-xs btn-primary dim' %>
            <% end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @areas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @areas, entry_name: t('activerecord.models.areas').pluralize(@areas.count) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<script type="text/javascript">
    function checkSubmit() {
        document.getElementById("sub").value = "Sending...";
        document.getElementById("sub").disabled = true;
        return true;
    }

    $(".pop").popover({trigger: "manual", html: true, animation: false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 300);
    });

    $("[data-toggle=hover]").popover({html: true})
    $('#popoverData').popover();
    /*$(document).ready(function () {
     $('table').footable();
     });*/

    function recargar() {
        window.location.reload(true);
    }
    $(document).on("click", ".areas", function () {
        var id = this.id;
        var area = $("#area" + id).val();
        swal({
                title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.area')%>  ' + area + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    swal({
                            title: '<%= t('views.mess_apli_title2')%>',
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                            cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: "POST",
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                    },
                                    url: "/areas/" + id,
                                    data: {"_method": "delete"},
                                })
                                //swal("<%= t('views.mess_apli_swall')%>");
                                swal(
                                    {
                                        title: '<%= t('views.mess_apli_swall')%>',
                                        type: "success",
                                        confirmButtonText: "OK",
                                    }, function (isConfirm) {
                                        if (isConfirm) {
                                            recargar();
                                        }
                                    })
                            } else {
                                swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                            }
                        })
                } else {
                    swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                }
            });
    })

</script>