<div id="head">
  <h1><%= t('views.areas_show.title_s')%></h1>
  <br>
</div>

<p class="text-center">
  <strong><%= t('all.name')%></strong>
  <%= @area.name %>
</p>

<p class="text-center">
  <% if @editarArea == 4 %>
      <%= link_to t('all.edit'), edit_area_path(@area), :class => 'btn btn-default' %> |
  <% end %>
  <%= link_to t('all.back'), areas_path, :class => 'btn btn-default' %>
</p>
