<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.views_edit.title') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <%= render 'form', view: @view %>

      </div>
    </div>
  </div>
  <br>
</div>