<% @tx_sessions.each do |sesion| %>
  <% cuenta = sesion.tx_filters.count %>
  <% @filtro = TxFilters.order('order_number ASC').where(:Session_id => sesion.Id) %>
  <tr>
    <td><%= sesion.Id %></td>
    <td><%= sesion.Description %></td>
    <td style="position: relative">
      <span class="btn btn-primary btn-xs filters"><%= cuenta %></span>
      <div class="popover-custom d-none">
        <% @filtro.each do | filtro | %>
          <% existeFiltro = Filtersno.find_by(:IdFiltro => filtro.Id)  %>
          <% if existeFiltro.present? %>
            <% checked = 'checked' %>
            <% id = "id=#{existeFiltro.id}" %>
          <% else  %>
            <% checked = '' %>
            <% id = "" %>
          <% end  %>

          <% if filtro.Order_number == 0 %>

            <input type='checkbox' <%= id %> class='addList check<%= filtro.Id %>' value='<%= filtro.Id %>' title="<%= t('views.filtersnos_index.addBlackList') %>" <%= checked %>>

            <span class=' btn-primary btn-xs'><%= filtro.Description %></span>
            <br>
          <% else %>

            <input type='checkbox' <%= id %> class='addList check<%= filtro.Id %>' value='<%= filtro.Id %>' title="<%= t('views.filtersnos_index.addBlackList') %>" <%= checked %>>
            <span class='btn-warning btn-xs'><%= filtro.Description %></span>
            <br>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>