<p id="notice"><%= notice %></p>

<p>
  <strong>Idfiltro:</strong>
  <%= @filtersno.IdFiltro %>
</p>

<p>
  <strong>Idusuario:</strong>
  <%= @filtersno.IdUsuario %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @filtersno.Fecha %>
</p>

<%= link_to 'Edit', edit_filtersno_path(@filtersno) %> |
<%= link_to 'Back', filtersnos_path %>
