<div class="row border-bottom">

  <nav class="navbar navbar-static-top white-bg" role="navigation">
    <div class="navbar-header">
      <div class="form-group">
        <button class="navbar-minimalize minimalize-styl-2 btn btn-primary " id="botonmin"><i class="fa fa-bars"></i></button>
        <!--El boton inicialmente es azul-->
        <div class="alertaBoton">
          <%= render 'home/alertaBoton' %>
        </div>
      </div>
      <div>
        <h3 class="pos" id="poslab"><%= t('views.sessions_new.tran') %></h3>
        <h3 class="pos" id="poslab2"><i class="fa fa-exclamation-triangle"></i> <%= t('views.sessions_new.msj') %></h3>
        <button class="btn btn-rounded u pos" id="btnreinicio" style="margin-left: 490px; margin-top: -2px; display: none" disabled>El Receptor se esta reiniciando</button>
      </div>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li >
        <span class="m-r-sm text-muted welcome-message"><%= t('views.sessions_new.welcome') %></span>
      </li>
      <!-- Este código se agrega porque la url en la vista /user_priority/assignPriority?idf=2&ids=2 trae valores en la url que pueden afectar al seleccionar un idioma-->
      <% if is_active_controller('user_priority') && action_name == 'assignPriority' %>
        <li>
          <%= link_to image_tag("mexico.png", border: 0, :height => 12, width: 24), user_priority_assignPriority_path(locale: :es, :idf => params[:idf], :ids => params[:ids]) %>
        </li>
        <li>
          <%= link_to image_tag("eua.png", border: 0, :height => 12, width: 24), user_priority_assignPriority_path(locale: :en, :idf => params[:idf], :ids => params[:ids]) %>
        </li>
      <% elsif is_active_controller('tx_filter_details') && action_name == 'new'  %>
        <li>
          <%= link_to image_tag("mexico.png", border: 0, :height => 12, width: 24), new_tx_filter_detail_path(locale: :es, :id => params[:id]) %>
        </li>
        <li>
          <%= link_to image_tag("eua.png", border: 0, :height => 12, width: 24), new_tx_filter_detail_path(locale: :en, :id => params[:id]) %>
        </li>
      <% else %>
        <li>
          <%= link_to image_tag("mexico.png", border: 0, :height => 12, width: 24), locale: :es %>
        </li>
        <li>
          <%= link_to image_tag("eua.png", border: 0, :height => 12, width: 24), locale: :en %>

        </li>
      <% end %>

      <% #end %>


      <li><i class="fa fa-sign-out"></i></li>

      <li> <%= link_to t('all.logout'), destroy_user_session_path, method: :delete %>


      <li>
        <a class="right-sidebar-toggle">
        </a>
      </li>

    </ul>
  </nav>
</div>
<style>
  #poslab{
    margin-left: 250px;
    margin-top: 8px;
  }
  #poslab2{
    margin-left: 250px;
    margin-top: 8px;
  }
</style>

<script>

    $(document).ready(function () {
        setInterval(function () {
            //---- Alerta Boton semaforo
            $(".alertaBoton").load('../home/alertaBoton')
        }, 30000);
    });</script>